$primary-color: #e98283;
$secondary-color: #edd889;
$tertiary-color: #95e1d3;

$title-color: #333333;
$text-color: #999999;

$white-color: #fff;
$gray-color: #f8f8f8;
$gray-dark-color: #cccccc;
$gray-light-color: #f5f5f5;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$tertiary-font: 'Kaushan Script', cursive;

$border-color: #e5e5e5;

$wrapper: 1920px;
$container: 1200px;
