section.about
  .container
    +blockHeading("What we do", "Story about us", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maiores laudantium rem impedit cum pariatur? Ea, ipsam fugiat omnis sapiente magnam itaque! Hic dolore natus ullam, nostrum atque culpa eligendi.")
    .about-list
      +aboutItem({
        src: './images/img-about1.png',
        alt: 'About 1',
        iconClass: 'far fa-users',
        title: 'Super Team'
      })
      +aboutItem({
        src: './images/img-about2.png',
        alt: 'About 2',
        iconClass: 'far fa-heart',
        title: 'About item 2'
      })
      +aboutItem({
        src: './images/img-about3.png',
        alt: 'About 3',
        iconClass: 'far fa-edit',
        title: 'About item 3'
      })