section.number
  .container
   .number-list
    +numberItem('42', 'Web design project')
    +numberItem('123', 'Happy clients')
    +numberItem('15', 'Award winners')
    +numberItem('99', 'Cup of coffee')
    +numberItem('24', 'Members')