section.people
  .container
    <!--cSpell: disable-->
    +blockHeading('Happy clients', 'What people say')
    ul.people-list
      +peopleItem('./images/img-people1.png', 'Nguyen Tran', 'Frontend Developer', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat reprehenderit officiis nesciunt ipsum laborum maxime eaque accusamus facilis cum voluptatum obcaecati placeat, necessitatibus aliquid. Nemo commodi hic provident! Tempora, deserunt?')
      +peopleItem('./images/img-people2.png', 'Nick Karvounis', 'Graphic design', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat reprehenderit officiis nesciunt ipsum laborum maxime eaque accusamus facilis cum voluptatum obcaecati placeat, necessitatibus aliquid. Nemo commodi hic provident! Tempora, deserunt?')
      +peopleItem('./images/img-people3.png', 'Jaelynn Castillo', 'Graphic design', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat reprehenderit officiis nesciunt ipsum laborum maxime eaque accusamus facilis cum voluptatum obcaecati placeat, necessitatibus aliquid. Nemo commodi hic provident! Tempora, deserunt?')
      +peopleItem('./images/img-people4.png', 'Mike Petrucci', 'Graphic design', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat reprehenderit officiis nesciunt ipsum laborum maxime eaque accusamus facilis cum voluptatum obcaecati placeat, necessitatibus aliquid. Nemo commodi hic provident! Tempora, deserunt?')