section.services
  .container
    +blockHeading('We work with', 'Amazing Services')
    .services-container
      .services-list
        +servicesItem('./images/img-service-icon1.png', 'Icon 1', 'Photography', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dolores!')
        +servicesItem('./images/img-service-icon2.png', 'Icon 2', 'Web Design', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dolores!')
        +servicesItem('./images/img-service-icon3.png', 'Icon 3', 'Creativity', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dolores!')
      .services-list
        +servicesItem('./images/img-service-icon3.png', 'Icon 3', 'SEO', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dolores!')
        +servicesItem('./images/img-service-icon4.png', 'Icon 4', 'CSS/HTML', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dolores!')
        +servicesItem('./images/img-service-icon5.png', 'Icon 5', 'Digital', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dolores!')

