section.wedo
  .container
    <!--cSpell: disable-->
    +blockHeading('Service', 'What we do', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea libero omnis delectus iusto nisi? Vel maxime error necessitatibus nobis incidunt libero beatae, excepturi pariatur officia. Aliquam culpa unde laborum minima?')
    .wedo-container
      img(src="./images/img-wedo.png").wedo-image
      .wedo-content
        +wedoItem('./images/img-wedo-icon1.png', 'Photography', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit reiciendis consectetur ex laboriosam autem aspernatur illo eveniet at quos expedita? Sunt sed ratione dicta illo deleniti fugiat vero est modi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus numquam esse praesentium atque est velit sunt repudiandae dolor ullam, voluptate non hic dolorem. Aperiam placeat deserunt harum odio recusandae nemo.Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit reiciendis consectetur ex laboriosam autem aspernatur illo eveniet at quos expedita? Sunt sed ratione dicta illo deleniti fugiat vero est modi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus numquam esse praesentium atque est velit sunt repudiandae dolor ullam, voluptate non hic dolorem. Aperiam placeat deserunt harum odio recusandae nemo.', 'active')
        +wedoItem('./images/img-wedo-icon2.png', 'Creativity', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit reiciendis consectetur ex laboriosam autem aspernatur illo eveniet at quos expedita? Sunt sed ratione dicta illo deleniti fugiat vero est modi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus numquam esse praesentium atque est velit sunt repudiandae dolor ullam, voluptate non hic dolorem. Aperiam placeat deserunt harum odio recusandae nemo.')
        +wedoItem('./images/img-wedo-icon3.png', 'Web Design', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit reiciendis consectetur ex laboriosam autem aspernatur illo eveniet at quos expedita? Sunt sed ratione dicta illo deleniti fugiat vero est modi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus numquam esse praesentium atque est velit sunt repudiandae dolor ullam, voluptate non hic dolorem. Aperiam placeat deserunt harum odio recusandae nemo.')

      //- accordion
